@model List<BookStore.Models.Item>
@{
    ViewBag.Title = "cart";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2>ShoppingCart</h2>
            </div>
            <div class="row panel-body">
                <table class="table table-striped table-hover">
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Sub Total</th>
                    </tr>
                    @{
                        double total = 0;
                    }
                    @foreach (var product in this.Model)
                    {
                        <tr>
                            <td>
                                <img src="@Url.Content(product.Book.CoverImagePath)" alt="@product.Book.Name"
                                     class="img-thumbnail img-responsive" style="width:100px" />
                            </td>
                            <td>
                                <div>
                                    <h3>@Html.ActionLink(product.Book.Name, "BookDetails", "Home", new { id = product.Book.Id }, null)</h3>
                                    <p>by @product.Book.Author</p>
                                    <p style="color:greenyellow"><small>In Stock</small></p>
                                    <div class="checkbox">
                                        <label><input type="checkbox" />This is a gift.</label>
                                    </div>
                                    @Html.ActionLink("Delete", "Delete", "ShoppingCart", new { id = product.Book.Id }, null)
                                </div>
                            </td>
                            <td>
                                <p>$@product.Book.Price</p>
                            </td>
                            <td>
                                <p>@product.Amount</p>
                            </td>
                            <td>
                                <p>@(product.Book.Price * product.Amount)</p>
                            </td>
                        </tr>
                        @(total += @product.Book.Price * product.Amount)
                    }

                </table>

            </div>
        </div>
    </div>
    <div class="row">
        <p class="pull-right"><strong>Total:$@(total)</strong></p>
    </div>
    <div class="row">
        @Html.ActionLink("Continue Shopping", "Show", "Book")
        <button class="btn btn-lg btn-default pull-right">@Html.ActionLink("Proceed to checkout", "CheckOutBook", "CheckOut")</button>
    </div>
</div>
